* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  z-index: 1;

  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #e0e0e0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--background-gradient);
  padding: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 6px;
  background: #fff;
  position: relative;

  &-outside {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);

    &.gradient {
      background: var(--background-gradient);
    }
  }

  &__row:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &-title {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2px;
      color: var(--main-color);
    }

    &-subtitle {
      color: var(--black);
      letter-spacing: 2px;
      margin-top: 5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--main-color);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -15px;
    top: 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
  }
}

.white-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 6px;
}

@media screen and (max-width: 992px) {
  .page-container {
    padding: 15px;
  }
}
