.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &.file {
    border: none !important;
    & .text-field__input {
      display: none;
    }
    & .text-field__name {
      width: 100%;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__name {
    color: var(--main-color);
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__input {
    background: none;
    border: 1px solid var(--main-color);
    padding: 12px 20px;
    width: inherit;
    border-radius: 6px;
  }

  &__error {
    font-size: 12px;
    font-weight: 500;
    color: var(--danger-color);
    margin-top: 5px;
  }

  &.underline {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);
    position: relative;

    & .text-field__error {
      position: absolute;
      bottom: -17px;
      left: 0;
    }

    & .text-field__name {
      min-width: 100px;
      margin-bottom: 0;
    }

    & .text-field__input {
      padding: 0;
      border: none;
      text-align: right;
      margin-left: 10px;
      outline-color: var(--main-color);
      outline-width: thin;
      outline-offset: 6px;
    }
  }
}
