.dialog-item {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-top: 1px solid var(--border-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &__avatar {
    margin-right: 8px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
  }

  &__message {
    font-size: 14px;
    color: var(--text-second-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 190px;
  }

  &__time {
    font-size: 12px;
    color: var(--text-second-color);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &:hover,
  &.active {
    background: rgba(228, 237, 253, 0.5);
  }
}
